.comment-items {
  margin: 25px 0 0 0;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
}
.comment-items ol,
.comment-items ul,
.comment-items li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment-items ol:before,
.comment-items ul:before,
.comment-items li:before {
  display: none;
}
.comment-items ol ol,
.comment-items ul ol,
.comment-items li ol,
.comment-items ol ul,
.comment-items ul ul,
.comment-items li ul {
  padding-top: 10px;
  padding-left: 40px;
}
.comment-items ol ol li,
.comment-items ul ol li,
.comment-items li ol li,
.comment-items ol ul li,
.comment-items ul ul li,
.comment-items li ul li {
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left: 2px solid #1e386b;
  margin-bottom: 14px;
}
.comment-items ol ol li:last-child,
.comment-items ul ol li:last-child,
.comment-items li ol li:last-child,
.comment-items ol ul li:last-child,
.comment-items ul ul li:last-child,
.comment-items li ul li:last-child {
  margin-bottom: 10px;
}
.comment-items li {
  margin-bottom: 10px;
}
.comment-items li .comment-block {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 44px;
}
.comment-items li .comment-block:before {
  display: none;
}
.comment-items li .comment-block form {
  padding-bottom: 0;
}
.comment-section {
  margin-bottom: 40px;
  padding-top: 20px;
}
.comment-section .comment-block:before {
  display: none;
}
.comment-section .comment-block .title {
  font-family: 'Open Sans', sans-serif;
}
.comment-section .comment-block .form-inner-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
}
.comment-section .comment-block .form-inner-wrap .input-wrapper textarea {
  min-width: 105%;
  width: 105%;
}
.comment-section .comment-block .form-inner-wrap .button-form-enter {
  margin-left: -10px;
  margin-right: 10px;
  height: auto;
  min-height: 40px;
}
.comment-section .comment-block .form-inner-wrap .btn-action-ico {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.comment-section .comment-block .form-inner-wrap .btn-action-ico + .input-wrapper {
  padding-left: 60px;
}
.comment-section .comment-block .form-inner-wrap .btn-action-ico + .input-wrapper:after {
  left: 0;
}
.comment-section .comment-block .input-wrapper {
  margin-left: 0;
  -ms-flex: 1;
      flex: 1;
  padding-left: 70px;
  width: auto;
}
.comment-section .comment-block .input-wrapper:after {
  left: 20px;
  top: 12px;
}
.comment-section .comment-block .input-wrapper textarea {
  font-family: 'Open Sans', sans-serif;
  padding-top: 17px;
  padding-bottom: 17px;
  min-height: 56px;
  line-height: 20px;
  background: #fff;
  position: relative;
  z-index: 3;
}
.comment-section .comment-block .actions-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E0E0E0;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  margin: 0;
  min-width: 27%;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 0 14px 0 40px;
}
.comment-section .comment-block .action-wrap {
  display: block;
  position: relative;
  z-index: 3;
  width: 36px;
  height: 36px;
}
.comment-section .comment-block .action-wrap .btn-action-ico {
  width: 36px;
  height: 36px;
}
.comment-section .h1-title,
.comment-section .h2-title {
  color: #000;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding: 0;
}
.comment-section .h1-title span,
.comment-section .h2-title span {
  color: inherit;
}
.comment-section .h1-title span:not(.title-decor),
.comment-section .h2-title span:not(.title-decor) {
  color: #828282;
}
.comment-section .h1-title span.title-decor,
.comment-section .h2-title span.title-decor {
  padding-left: 0;
  padding-right: 0;
}
.comment-section .h1-title:after,
.comment-section .h2-title:after {
  display: none;
}
.article-box {
  display: block;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.01em;
  color: #000;
}
.article-box .container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.article-box .article-footer-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  overflow: hidden;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin: 40px -15px 0 0;
}
.article-box .article-footer-wrap .footer-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.article-box .article-footer-wrap .footer-title {
  display: block;
  position: relative;
  padding: 0 10px 0 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: #000;
  margin: 0 0 15px 0;
}
.article-box .article-footer-wrap .footer-title:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 2000px;
  height: 1px;
  background-color: #e0e0e0;
}
.article-box .article-footer-wrap .btn-soc {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 15px 15px 0;
}
.article-box .tags {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 11px;
  line-height: 125%;
  letter-spacing: 0.09em;
}
.article-box .publication-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 0 0 26px 0;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.article-box .publication-wrapper .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
.article-box .publication-wrapper .icon .views-icon,
.article-box .publication-wrapper .icon .comment-icon {
  margin: 0 30px 0 0;
  padding: 0 0 0 30px;
  position: relative;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 11px;
  line-height: 125%;
  letter-spacing: 0.09em;
  line-height: 24px;
}
.article-box .publication-wrapper .icon .views-icon:after,
.article-box .publication-wrapper .icon .comment-icon:after {
  left: 0;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  background-position: center;
}
.article-box .publication-wrapper .icon .views-icon:last-child,
.article-box .publication-wrapper .icon .comment-icon:last-child {
  margin-right: 0;
}
.article-box .publication-wrapper .publication {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: row;
      flex-direction: row;
  width: auto;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.article-box .publication-wrapper .publication p {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 30px 0 0;
  padding: 15px 0;
}
.article-box .publication-wrapper .publication .news-link {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 30px 0 0;
}
.article-box .publication-wrapper .publication * {
  font-family: inherit;
}
.article-box .article-text-inner {
  margin: 0 auto 40px auto;
  width: 82%;
  clear: both;
}
.article-box .article-text-inner p {
  margin-bottom: 1.1em;
}
.article-box .article-text-inner p:last-child {
  margin-bottom: 0;
}
.article-box figure,
.article-box .figure-image,
.article-box picture,
.article-box .picture-image {
  display: block;
  position: relative;
  margin-bottom: 26px;
}
.article-box figure picture,
.article-box .figure-image picture,
.article-box picture picture,
.article-box .picture-image picture,
.article-box figure .picture-image,
.article-box .figure-image .picture-image,
.article-box picture .picture-image,
.article-box .picture-image .picture-image {
  margin-bottom: 0;
}
.article-box figure img,
.article-box .figure-image img,
.article-box picture img,
.article-box .picture-image img {
  display: block;
  width: 100%;
}
.article-box figcaption,
.article-box .figure-figcaption {
  display: block;
  font-size: 11px;
  line-height: 125%;
  letter-spacing: 0.09em;
  padding: 18px 0;
  border-bottom: 1px solid #ecebed;
}
.article-box ul li {
  padding-left: 1.5em;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.article-box ul li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: currentColor;
  position: absolute;
  top: 0.81em;
  left: 0.75em;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
}
.article-box h1,
.article-box .h1,
.article-box h2,
.article-box .h2 {
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 135%;
  letter-spacing: 0.02em;
  margin: 0 0 1.4em 0;
  text-align: left;
}
.article-box h1:before,
.article-box .h1:before,
.article-box h2:before,
.article-box .h2:before {
  content: "";
  display: block;
  position: absolute;
  top: 1.3em;
  left: 0;
  width: 7.88888889em;
  height: 4px;
  background: var(--clr-att);
  max-width: 100%;
}
.article-box h1 *,
.article-box .h1 *,
.article-box h2 *,
.article-box .h2 * {
  font-family: "Montserrat", sans-serif;
}
.article-box h2,
.article-box .h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.article-box h2:before,
.article-box .h2:before {
  display: none;
}
.article-box p,
.article-box ul,
.article-box ol,
.article-box table,
.article-box blockquote {
  line-height: inherit;
  margin-bottom: 1.1em;
  color: inherit;
  padding: 0;
}
.article-box p:last-child,
.article-box ul:last-child,
.article-box ol:last-child,
.article-box table:last-child,
.article-box blockquote:last-child {
  margin-bottom: 0;
}
.article-box blockquote,
.article-box .bq-text {
  font-size: 14px;
  font-style: italic;
  line-height: 1.25;
  letter-spacing: 0.01em;
  font-family: "Minion Pro", sans-serif;
  color: #1e386b;
}
.article-box blockquote *,
.article-box .bq-text * {
  font-family: "Minion Pro", sans-serif;
}
.article-box .clearfix {
  display: block;
  width: 100%;
  clear: both;
}
.section-slide .tab-header,
.section-slide .title {
  position: relative;
  z-index: 3;
}
.pagenav-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.21em;
  color: #000;
  text-align: center;
  white-space: nowrap;
  position: relative;
  -ms-flex-align: center;
      align-items: center;
}
.pagenav-box .pages-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 10px;
}
.pagenav-box .btn-page-nav {
  display: block;
  width: 47px;
  height: 47px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #1e386b;
  position: relative;
  border: none;
  border-radius: 0;
  padding: 0;
  transition: all ease 0.2s;
}
.pagenav-box .btn-page-nav:hover {
  background-color: #3F3356;
}
.pagenav-box .btn-page-nav:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  background: url(../img/icon/button-arrow-att.svg) center no-repeat;
  background-size: 100% auto;
  background-size: 24px auto;
  top: 50%;
  left: 50%;
  margin: -12px 0 0 -12px;
  filter: brightness(0) invert(1);
}
.pagenav-box .btn-page-nav.button-nav-prev:before {
  transform: rotate(180deg);
}
.pagenav-box .btn-page-nav.button-disabled,
.pagenav-box .btn-page-nav[disabled] {
  background: #f7f5f9;
  pointer-events: none;
}
.pagenav-box .btn-page-nav.button-disabled:before,
.pagenav-box .btn-page-nav[disabled]:before {
  filter: none;
}
.pagenav-box .btn-page {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 27px;
  line-height: 27px;
  min-width: 27px;
  text-align: center;
  padding: 0 6px;
  color: inherit;
  text-decoration: none;
  margin: 0 2px;
}
.pagenav-box .btn-page:nth-child(8n) ~ .btn-page {
  display: none;
}
.pagenav-box .btn-page:not(.button-dotted).active {
  background-color: #1e386b;
  color: #fff;
}
.pagenav-box .btn-page:hover {
  color: #1e386b;
}
.pagenav-box .btn-page.button-dotted {
  margin: 0 10px;
}
.news-box {
  position: relative;
  width: calc((100% - 90px)/3);
  margin-left: 15px !important;
  margin-right: 15px !important;
  font-size: 14px;
  line-height: 135%;
}
.news-box .news-link {
  -ms-flex-pack: flex-center;
      justify-content: flex-center;
  text-align: center;
  padding: 10px 18px 10px 18px;
  width: auto;
  max-width: 100%;
  min-width: 111px;
  font-size: 11px;
  letter-spacing: 0.09em;
  text-transform: none;
}
.news-box .news-link.color-second {
  background-color: #d0c9d6;
}
.news-box .news-link.color-att {
  background-color: #d23c41;
}
.news-box p {
  letter-spacing: 0.02em;
  padding: 0 0 20px;
}
.news-box .button-arrow {
  min-width: 270px;
  font-size: 14px;
  letter-spacing: 0.21em;
}
.news-box h5 {
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  line-height: 32px;
  font-size: 24px !important;
}
.news-box h5:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #fff;
  z-index: 2;
}
.news-box h5 a {
  display: block;
  position: relative;
  border: none;
  background-size: 100% 32px;
  background-image: repeating-linear-gradient(0deg, var(--clr-att), var(--clr-att) 4px, transparent 4px, transparent);
  transition: all ease 0.2s;
}
.news-box h5 a:hover {
  background-image: repeating-linear-gradient(0deg, transparent, transparent 4px, transparent 4px, transparent);
}
.news-row {
  margin-left: -15px;
  margin-right: -15px;
}
.btn-soc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 11px;
  line-height: 125%;
  letter-spacing: 0.09em;
  color: #000;
}
.btn-soc:hover {
  color: #000;
}
.btn-soc:hover .button-ico {
  opacity: 1;
  filter: none;
}
.btn-soc .button-title {
  display: block;
  padding-left: 10px;
}
.btn-soc .button-ico {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 36px;
  height: 36px;
  opacity: 0.4;
  transition: all ease 0.2s;
}
.btn-soc .button-ico img,
.btn-soc .button-ico svg {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.h1-title,
.h2-title,
.h3-title {
  color: #000;
  font-family: 'Roboto', sans-serif;
}
.h1-title *,
.h2-title *,
.h3-title * {
  font-family: 'Roboto', sans-serif;
}
.btn-action-ico.ico-enter:before {
  background-size: 16px auto;
  background-image: url(../img/icon/enter.svg);
}
.btn-action-ico.ico-enter:hover:before {
  opacity: 0.5;
}
.btn-action-ico.ico-smile:before {
  background-image: url(../img/icon/smile.svg);
  background-size: 24px auto;
  opacity: 0.6;
}
.btn-action-ico.ico-smile:hover:before {
  opacity: 1;
}
.btn-action-ico.ico-picture:before {
  background-image: url(../img/icon/picture.svg);
  background-size: 24px auto;
  opacity: 0.6;
}
.btn-action-ico.ico-picture:hover:before {
  opacity: 1;
}
.btn-action-ico.ico-photo:before {
  background-image: url(../img/icon/photo.svg);
  background-size: 24px auto;
  opacity: 0.6;
}
.btn-action-ico.ico-photo:hover:before {
  opacity: 1;
}
.item-tile-comment {
  display: block;
  position: relative;
  padding: 0 0 0 44px;
  min-height: 32px;
}
.item-tile-comment .tile-actions-wrap {
  display: -ms-flexbox;
  display: flex;
  margin: 12px -40px -10px 0;
  color: #4f4f4f;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-tile-comment .tile-actions-wrap a {
  color: inherit;
}
.item-tile-comment .tile-actions-wrap a:hover,
.item-tile-comment .tile-actions-wrap a.active {
  color: #1e386b;
}
.item-tile-comment .tile-photo-wrap {
  display: block;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
.item-tile-comment .tile-buttons {
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 10px 0;
}
.item-tile-comment .tile-buttons a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 20px 0 0;
}
.item-tile-comment .tile-icons {
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 10px 0;
}
.item-tile-comment .tile-icons a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 20px 0 0;
}
.item-tile-comment .tile-photo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  background: url(https://main.webuspex38.ru/img/icon/comment-icon-blue.svg) center no-repeat;
  background-size: 100% auto;
}
.item-tile-comment .tile-photo:before {
  padding-top: 100%;
}
.item-tile-comment .tile-photo.photo-red {
  background-image: url(https://main.webuspex38.ru/img/icon/comment-icon-red.svg);
}
.item-tile-comment .views-icon,
.item-tile-comment .comment-icon,
.item-tile-comment .liked-icon {
  margin: 0 30px 0 0;
  padding: 0 0 0 34px;
  position: relative;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 24px;
  font-size: inherit;
  letter-spacing: inherit;
}
.item-tile-comment .views-icon:after,
.item-tile-comment .comment-icon:after,
.item-tile-comment .liked-icon:after {
  left: 0;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  background-position: center;
}
.item-tile-comment .views-icon:last-child,
.item-tile-comment .comment-icon:last-child,
.item-tile-comment .liked-icon:last-child {
  margin-right: 0;
}
.item-tile-comment .liked-icon:after {
  content: '';
  width: 24px;
  display: block;
  position: absolute;
  background: url(../img/icon/liked.svg) no-repeat;
}
.item-tile-comment .liked-icon.active:after {
  background-image: url(../img/icon/liked-active.svg);
}
@media (max-width: 1023px) {
  .article-box .article-text-inner {
    width: 100%;
  }
  .article-box h1,
  .article-box .h1 {
    font-size: 35px;
  }
  .article-box h2,
  .article-box .h2 {
    font-size: 22px;
  }
  .news-box {
    width: calc((100% - 60px)/2);
  }
}
@media (max-width: 767px) {
  .comment-section .comment-block .form-inner-wrap {
    display: block;
  }
  .comment-section .comment-block .form-inner-wrap .button-form-enter {
    position: absolute;
    width: 32px;
    height: 32px;
    min-height: 0;
    top: 40px;
    left: 0;
    margin: 0;
    z-index: 10;
  }
  .comment-section .comment-block .form-inner-wrap .input-wrapper textarea {
    width: 100%;
    min-width: 100%;
  }
  .comment-section .comment-block .actions-wrapper {
    border-radius: 0;
    border: none;
    min-width: 0;
    width: 100%;
    margin: 10px 0 0 0;
  }
  .comment-section .comment-block .input-wrapper {
    padding-left: 50px;
  }
  .comment-section .comment-block .input-wrapper:after {
    left: 0;
    top: 0;
  }
  .article-box .article-footer-wrap {
    display: block;
  }
  .article-box .article-footer-wrap .footer-title {
    padding-left: 0;
    padding-right: 0;
  }
  .article-box .publication-wrapper {
    display: block;
  }
  .article-box .publication-wrapper .icon {
    margin-top: 30px;
  }
  .article-box h1,
  .article-box .h1 {
    font-size: 28px;
  }
  .article-box h2,
  .article-box .h2 {
    font-size: 20px;
  }
  .news-box {
    width: calc((100% - 30px)/1);
  }
  .pagenav-box .btn-page {
    margin: 0;
  }
  .tab-header {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .article-box .image-right {
    width: 54%;
    float: right;
    margin: 0 0 26px 30px;
  }
  .article-box .image-left {
    width: 54%;
    float: left;
    margin: 0 30px 26px 0;
  }
  .tab-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px -15px 0;
  }
  .tab-header li {
    margin: 0 30px 15px 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    max-width: 100%;
  }
}
