<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="container">
			<div class="logo-info-wrap">
				<div class="logo-wrap">
					<a href="https://xn--90abjb3clnt.xn--p1ai/" class="logo">
						<picture>
							<source srcset="/img/logo-footer-m.svg" media="(max-width: 1023px)">
							<source srcset="/img/logo-footer.svg" media="">
							<img src="./blog_files/logo-footer.svg" alt="">
						</picture>
					</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:+7(920) 303-38-88" class="link-phone">+7(920) 303-38-88</a>
				</div>
				<div class="soc-wrap">
					<div class="soc-title">Мы в соц.сетях:</div>
					<div class="soc-items">
						<a href="https://xn--90abjb3clnt.xn--p1ai/blog" target="_blank"
							class="btn-action-ico button-soc">
							<img src="./blog_files/footer-soc01.svg" alt="">
						</a>
						<a href="https://xn--90abjb3clnt.xn--p1ai/blog" target="_blank"
							class="btn-action-ico button-soc">
							<img src="./blog_files/footer-soc02.svg" alt="">
						</a>
						<a href="https://xn--90abjb3clnt.xn--p1ai/blog" target="_blank"
							class="btn-action-ico button-soc">
							<img src="./blog_files/footer-soc03.svg" alt="">
						</a>
						<a href="https://xn--90abjb3clnt.xn--p1ai/blog" target="_blank"
							class="btn-action-ico button-soc">
							<img src="./blog_files/footer-soc04.svg" alt="">
						</a>
						<a href="https://xn--90abjb3clnt.xn--p1ai/blog" target="_blank"
							class="btn-action-ico button-soc">
							<img src="./blog_files/footer-soc05.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<ul class="menu">
					<li class="menu-main">
						<ul>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/blog">Блог</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/service">Цены</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/team">Наша команда</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/docs">Сертификаты</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/faq">Вопросы-ответы</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/review">Отзывы</a></li>
							<li><a href="https://xn--90abjb3clnt.xn--p1ai/contacts">Контакты</a></li>
						</ul>
					</li>
					<li class="menu-second">
						<ul>
							<li>
								<a href="https://xn--90abjb3clnt.xn--p1ai/blog">Услуги</a>
								<ul>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/amocrm">Amocrm настройка
											интеграций с Вашей бизнес воронкой, телефонией, мессенджерами.</a></li>
									<li><a
											href="https://xn--90abjb3clnt.xn--p1ai/service/pr-soprovozhdenie-deyatelnosti-kompanii">PR-сопровождение
											деятельности компании</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/sozdanie-saytov">Создание
											сайтов</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/firmennyy-stil">Фирменный
											стиль</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/razrabotka-po">Разработка
											ПО</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/video-reklama">Видео
											реклама</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/prodvizhenie">Продвижение</a>
									</li>
									<li><a
											href="https://xn--90abjb3clnt.xn--p1ai/service/1s-soprovozhdenie">1С-сопровождение</a>
									</li>
									<li><a
											href="https://xn--90abjb3clnt.xn--p1ai/service/sinkhronizatsiya-s-servisami-yclients-i-renovatio">Синхронизация
											с сервисами yclients и renovatio</a></li>
									<li><a
											href="https://xn--90abjb3clnt.xn--p1ai/service/sinkhronizatsiya-s-servisom-iiko">Синхронизация
											с сервисом iiko</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-info-panel cnt-section">
		<div class="container">
			<div class="info-wrap">
				<p></p>
			</div>
			<div class="menu-wrap">
				<ul class="menu">
					<li>2024. Все права защищены</li>
					<li><a href="https://xn--90abjb3clnt.xn--p1ai/politika-konfidentsialnosti">Политика
							конфеденциальности</a></li>
					<li><a href="https://xn--90abjb3clnt.xn--p1ai/blog">Отправить ошибку</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->