<!-- header -->
<header class="header">
	<div class="container">
		<div class="actions-menu-wrap">
			<div class="menu-wrap js-popup-wrap">
				<a href="https://xn--90abjb3clnt.xn--p1ai/blog" class="btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="menu-content-block js-popup-block">
					<!--site-menu-box-->
					<div class="site-menu-box">
						<div class="menu-inner-wrap">
							<div class="search-inner-wrap">
								
							</div>
							<div class="tags-inner-wrap">
								<ul>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/amocrm" class="btn-tag">Amocrm настройка интеграций с Вашей бизнес воронкой, телефонией, мессенджерами.</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/pr-soprovozhdenie-deyatelnosti-kompanii" class="btn-tag">PR-сопровождение деятельности компании</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/sozdanie-saytov" class="btn-tag">Создание сайтов</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/firmennyy-stil" class="btn-tag">Фирменный стиль</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/razrabotka-po" class="btn-tag">Разработка ПО</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/video-reklama" class="btn-tag">Видео реклама</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/prodvizhenie" class="btn-tag">Продвижение</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/1s-soprovozhdenie" class="btn-tag">1С-сопровождение</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/sinkhronizatsiya-s-servisami-yclients-i-renovatio" class="btn-tag">Синхронизация с сервисами yclients и renovatio</a></li>
																				<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/sinkhronizatsiya-s-servisom-iiko" class="btn-tag">Синхронизация с сервисом iiko</a></li>
																			<li><a href="https://xn--90abjb3clnt.xn--p1ai/blog" class="btn-tag">Блог</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service" class="btn-tag">Цены</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/team" class="btn-tag">Наша команда</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/docs" class="btn-tag">Сертификаты</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/faq" class="btn-tag">Вопросы-ответы</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/review" class="btn-tag">Отзывы</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/contacts" class="btn-tag">Контакты</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-side-wrap">
																								<a href="https://xn--90abjb3clnt.xn--p1ai/blog" class="item-tile-menu-action">
										<span class="tile-photo-wrap">
											<span class="tile-photo">
												<img src="./blog_files/3915370_T5VFBi6sIWqFGhkIA2tu66u7KuX7p32P.jpg" alt="Приятно познакомится!">
											</span>
										</span>
									<span class="tile-title-wrap">
											<span class="tile-title">Приятно познакомится! </span>
											<span class="tile-info">"Вебзнай" Вам подскажет и поможет.</span>
																						</span>
								</a>
														</div>
					</div><!--/site-menu-box-->
				</div>
			</div>
			
		</div>
		<div class="logo-wrap">
			<a href="https://xn--90abjb3clnt.xn--p1ai/" class="logo">
				<img src="./blog_files/logo-header.svg" alt="">
			</a>
			<div class="phone-wrap">
				<a href="tel:+7(920) 303-38-88" class="link-phone">+7(920) 303-38-88</a>
			</div>
		</div>
		<div class="actions-contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:+7(920) 303-38-88" class="link-phone">+7(920) 303-38-88</a>
			</div>
			<div class="soc-wrap">
				<a href="tel:+7(920) 303-38-88" class="btn-action-ico button-soc">
					<img src="./blog_files/header-soc01.svg" alt="">
				</a>
				<a href="skype:dicreation88" class="btn-action-ico button-soc">
					<img src="./blog_files/header-soc02.svg" alt="">
				</a>
				<a href="viber://chat?number=+79203033888" class="btn-action-ico button-soc">
					<img src="./blog_files/header-soc03.svg" alt="">
				</a>
				<a href="https://wa.me/79203033888" class="btn-action-ico button-soc">
					<img src="./blog_files/header-soc04.svg" alt="">
				</a>
				<a href="https://t.me/webuspex" class="btn-action-ico button-soc">
					<img src="./blog_files/header-soc05.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->