

<script src="./blog_files/jquery.min.js"></script>

<script src="./blog_files/placeholders.js" type="text/javascript"></script>
<script src="./blog_files/owl.carousel.min.js" type="text/javascript"></script>
<script src="./blog_files/jquery.viewportchecker.min.js" type="text/javascript"></script>
<script src="./blog_files/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="./blog_files/jquery.fancybox.min.js"></script>
<script src="./blog_files/scripts.js"></script>

<script src="./blog_files/slick.min.js"></script>
<script src="./blog_files/jquery.swipebox.min.js"></script>
<script src="./blog_files/scripts(1).js"></script>

<style>
	.footer-main-panel a:hover {
		color: cornflowerblue;
		text-decoration: underline;
	}

	h2.line {
		line-height: 1.7;
	}

	@media (min-width: 1024px) {
		.item-tile-review {
			align-items: flex-start;
			position: relative;
		}

		@supports (display: contents) {
			.item-tile-review {
				padding-left: 272px;
				display: block;
				min-height: 222px;
			}

			.item-tile-review .tile-info-wrap {
				display: contents;
			}

			.item-tile-review .tile-desc-wrap {
				max-width: 100%;
				padding-top: 20px;
				padding-left: 70px;
			}

			.item-tile-review .tile-desc-wrap:before {
				left: 0;
			}

			.item-tile-review .tile-photo {
				margin: 0;
				padding: 0;
				position: absolute;
				top: 0;
				left: 0;
			}

			.item-tile-review {}
		}
	}
</style>


